body {
    background-color: rgb(242, 213, 132);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

.whole-body {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.intro {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(236, 213, 194);
    border-radius: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.about-me {
    background-color: rgb(236, 213, 194);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    line-height: 1.5;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.interactive-container {
    margin-bottom: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#number {
    font-size: 3em;
    margin: 20px 0;
}

#message {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 45px;
}

.interactive {
    transition: opacity 0.15s, padding 0.5s, border-radius 0.5s;
    border-radius: 50%;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(193, 255, 255);
}

.interactive:hover {
    opacity: 0.8;
    padding-top: 125px;
    padding-bottom: 125px;
    padding-left: 105px;
    padding-right: 105px;
}

.interactive:active {
    opacity: 0.6;
}

.gaming {
    background-color: rgb(236, 213, 194);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    line-height: 1.5;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.socials {
    margin-bottom: 100px;
}

.discord-container {
    padding-bottom: 25px;
}

.discord {
    transition: opacity 0.15s, padding 0.5s, border-radius 0.5s;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(75, 120, 233);
    color: white;
    border-radius: 5px;
}

.discord:hover {
    opacity: 0.8;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
}

.discord:active {
    opacity: 0.6;
}

.instagram-container {
    padding-bottom: 25px;
}

.instagram {
    transition: opacity 0.15s, padding 0.5s, border-radius 0.5s;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(204, 84, 231);
    color: white;
    border-radius: 5px;
}

.instagram:hover {
    opacity: 0.8;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
}

.instagram:active {
    opacity: 0.6;
}

.github {
    transition: opacity 0.15s, padding 0.5s, border-radius 0.5s;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(10, 6, 66);
    color: white;
    border-radius: 5px;
}

.github:hover {
    opacity: 0.8;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
}

.github:active {
    opacity: 0.6;
}