@import url('fonts.css');

body {
    color: rgb(0, 0, 0);
    background-color: black;
    font-family: Source;
}

.fade-in-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.welcome-background {
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/circle_gif.gif);
    background-position: center;
    background-size: contain;
    pointer-events: none;
    filter: brightness(1);
    transition: filter 0.1s;
}

.fade-in-text {
    opacity: 0;
    font-family: Dancing;
    font-size: 100px;
    color: white;
    animation: fadeIn 4s ease-in forwards;
    z-index: 1;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.content {
    background-image: url(images/bigger_circle_gif.gif);
    background-size: cover;
    background-position: center;
}

.title-font {
    font-family: Orbitron;
}

.whole-body {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}

.intro {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.about-me {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    line-height: 1.5;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.interactive-container {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#number {
    font-size: 3em;
    margin: 20px 0;
}

.interactive {
    transition: opacity 0.15s, padding 0.5s, border-radius 0.5s;
    border-radius: 50%;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255);
}

.interactive:hover {
    opacity: 0.8;
    padding-top: 105px;
    padding-bottom: 105px;
    padding-left: 85px;
    padding-right: 85px;
}

.interactive:active {
    opacity: 0.6;
}

.gaming {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    line-height: 1.5;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.msi-logo {
    height: 200px;
    width: 170px;
}

.socials {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 100px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.social-container {
    display: inline-block;
}

.discord-container {
    padding-bottom: 25px;
}

.discord {
    transition: opacity 0.15s, padding 0.5s, border-radius 0.5s;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(75, 120, 233);
    color: white;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}

.discord-image {
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.discord:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
}

.discord:active {
    opacity: 0.6;
}

.instagram-container {
    padding-bottom: 25px;
}

.instagram {
    transition: opacity 0.15s, padding 0.5s, border-radius 0.5s;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(204, 84, 231);
    color: white;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}

.instagram-image {
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.instagram:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
}

.instagram:active {
    opacity: 0.6;
}

.github {
    transition: opacity 0.15s, padding 0.5s, border-radius 0.5s;
    border: fill;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}

.github-image {
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.github:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
}

.github:active {
    opacity: 0.6;
}

.social-img-container {
    display: inline-block;
    align-items: right;
}

.social-img {
    width: 250px;
    height: 250px;
}